.header {
    margin-top: 30px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

.headerTitleSm {
    position: absolute;
    top: 20%;
    font-size: 60px;
}

.headerTitleLg {
    position: absolutce;
    top: 10%;
    font-size: 35px;
    
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 60px;
    object-fit: cover;
}